*{
    margin: 0;
    padding: 0%;
}
body{
    background: var(--background);
}
:root{
    --background: white;
    --second--background: #96bf96;
    --button--background: #00412e;
    --text--color-black: black;
    --text--color-white: rgb(255, 255, 255);
}

/*Navbar Link List */
nav {
    position: fixed; /*positioning fixed of navbar*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: var(--second--background);
    box-shadow: inset 0 0 10px var(--button--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /*to navbar above other elements*/
}
.logo{
    font-size: 1.3rem;
    color: var(--text--color-black);
    text-decoration: none;
    font-weight: 600;
}
nav ul{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5rem;
    left: 0;
}
nav ul li{
    text-align: center;
    text-decoration: none;
    display: block;
    flex-direction: column;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    flex: 1;
    cursor: pointer;
}
nav .cart-icon{
    position: relative;
    font-size: 1.5rem;
    left: -90px;
    color: var(--text--color-white);
}
nav .cart-icon .cart-items-count{
    position: absolute;
    top: 0;
    right: -6px;
    width: 20px;
    height: 20px;
    background: #00412e;   
    border-radius: 50%;
    font-size: 12px;
    color: var(--text--color);
    line-height: 20px;
    text-align: center;
    display: none; 
}

/*Home Item */
.home-Items{
    width: 90%;
    height: 100vh;
    padding: 2.5rem;
    justify-content: center;

}
.home-Items h1{
    font-size: 2.5rem;
}
/*Shop Item */
.shop-Items{
    width: 90%;
    height: 100vh;
    padding: 2.5rem;
    justify-content: center;

}
.shop-Items h1{
    font-size: 2.5rem;
}
/*Cart Item */
.cart-Items{
    width: 90%;
    height: 100vh;
    padding: 2.5rem;
    justify-content: center;

}
.cart-Items h1{
    font-size: 2.5rem;
}
/*Blog */
.blog{
    width: 90%;
    height: 100vh;
    padding: 2.5rem;
    justify-content: center;

}
.blog h1{
    font-size: 2.5rem;
}
/*Blog */
.contact{
    width: 90%;
    height: 100vh;
    padding: 2.5rem;
    justify-content: center;

}
.contact h1{
    font-size: 2.5rem;
}
footer{
    width: 100%;
    height: 2.5vh;
    background-color: #3eb491;
}
footer p{
    font-size: 1.1rem;
    letter-spacing: 0.5;
    margin-left: 10px;
}